/*  shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.primary-btn {
  color:  #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
}

/*  Navbar style */
.nav-logo {
  color: #181818;

  font-size: 45px;
  font-weight: 800;
}
.logo-item {
  color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
  

   
}
nav > ul{
  display: flex;
  align-items: center;
  
  
}
nav li {
  list-style: none;
  color: #474747;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}

.nav-btn{
    padding: 18px 35px;
}


/* banner styles */

.header{
  background: #FFF8F3;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, top left;

  
}
.banner{
  padding: 30px 30px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
  
}
.banner-content{
  max-width: 550px;
}
.banner-greeting{
  font-size: 45px;
  color: #474747;
  font-weight: 700;
}
.banner-title{
  color:  #181818;
  font-size: 85px;
  font-weight: 700;

}
.banner-description{
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  
  margin: 10px 0;
}
.banner-btn{
  padding: 18px 50px;

}
.banner-btn i{
  margin-right: 5px;
}
.banner-image{
  max-width: 500px;
  
}