/*  shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.primary-btn {
  color:  #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
}

/*  Navbar style */
.nav-logo {
  color: #181818;

  font-size: 45px;
  font-weight: 800;
}
.logo-item {
  color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
   background: #FFF8F3;

   
}
nav > ul{
  display: flex;
  align-items: center;
  
  
}
nav li {
  list-style: none;
  color: #474747;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}

.nav-btn{
    padding: 18px 35px;
}
