/*  shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  
}


.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0;
}
/*  Navbar style */
.nav-logo {
  color: #181818;

  font-size: 45px;
  font-weight: 800;
}
.logo-item {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 250px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  color: #474747;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}

.nav-btn {
  padding: 18px 35px;
}

/* banner styles */

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 550px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  font-weight: 700;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;

  margin: 10px 0;
}
.banner-btn {
  padding: 18px 50px;
}
.banner-btn i {
  margin-right: 5px;
}
.banner-image {
  max-width: 500px;
}

/* main section style */

main {
  max-width: 1140px;
  margin: 0 auto;
}

.about {
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
  padding: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
}
.info-description {
  font-size: 20px;
  font-weight: bold;
}

/* What i do section */

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  margin-bottom: 130px;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}
.skill-title {
  margin: 10px 0;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

/* My resume related styles */
.resume-btn {
   display: flex; 
   justify-content: space-around;
}

.my-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-top: 110px;
}
.resume-title{
  color: #474747;
font-size: 30px;
font-weight: 700;
margin-left: 10px;

}

.resume-description {
  padding: 20px 0px 30px 0px;
}
.resume-item {
  padding: 10px;
}

.resume-item-title {
  margin: 30px 0 10px 0;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-institute {
  color: #757575;
  font-size: 20px;
}
